$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

// Custom Styles

.notepad-entry,
.notepad {
  width: 600px;
  resize: none;
  min-height: 100px
}

.notepad {
   background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
   height: 300px;
   font: normal 14px verdana;
   line-height: 25px;
   padding: 2px 10px;
   border: solid 1px #ddd;
   padding-left: 100px;
   background-position-x: -10px;
   font-family: 'Rouge Script', cursive;
   font-size: 32px;
   color: brown;
}

.notepad-entry {

}

.navbar-wrapper {
  max-width: 1170px;
  margin: auto;
}

.page-title {
  margin: 0 0 20px 0;
}

// .create-appointment-btn {}

.create-appointment-form {
  
  .submit-btn {
    margin-right: 15px;
  }
}

.appointment-list {
  list-style: none;

  .appointment-buttons {position: relative; right: 15px}

  li {
    display: block;
    border: 1px solid black;
    padding: 0 10px 10px 10px;
  }
}