<div ng-show="detailViewData" class="detail-view col-sm-6">
  

  <h3>{{detailViewData.title}}</h3>
  <p>Time: <b>{{detailViewData.startTime}} - {{detailViewData.endTime}}</b></p>
  <p>Appointment with: <b>{{detailViewData.appointmentWith}}</b></p>
  <p>Description: <b>{{detailViewData.description}}</b></p>
  <div class="row">
    <div class="pull-right appointment-buttons">
      <button class="btn btn-warning" ng-click="editAppointment">
        <i class="fa fa-pencil-square-o"></i> Edit
      </button>
      <button class="btn btn-danger" ng-click="editAppointment">
        <i class="fa fa-times"></i> Delete
      </button>
    </div>
  </div>
</div>